.header__lang-link {
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
  }
}
