.header__lang-link {
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  width: fit-content;
  width: -moz-fit-content;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
  }
}
