.place__title {
  font-family: 'Inter', 'Arial', sans-serif;
  grid-area: title;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 1;
  margin: 0; 
  
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    font-weight: 900;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    font-weight: 900;
    padding: 0 16px;
  }
}