.cover__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 22px;
  max-width: 360px;
}


@media (min-width: 410px) and (max-width: 767px){
  .cover__subtitle{
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 409px) {
  .cover__subtitle {
    font-size: 14px;
    max-width: 288px;
    line-height: 16px;
  }
}