.header {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-right: 48px;
  padding-left: 48px;
  padding-bottom: 0;
}

.header:not(:last-child) {
  margin-bottom: 50px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header:not(:last-child){
    margin-bottom: 44px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 48px;
  }

  .header:not(:last-child){
    margin-bottom: 48px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .header:not(:last-child){
    margin-bottom: 35px;
  }
}
