.content{
  margin: 0;
  padding: 0;
}

.content:not(:last-child) {
  margin-bottom: 92px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .content:not(:last-child) {
    margin-bottom: 94px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content:not(:last-child) {
    margin-bottom: 88px; 
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .content:not(:last-child) {
    margin-bottom: 64px;
  }
}