.intro {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 0px 148px;
  margin: 0;
}

.intro:not(:last-child) {
  margin-bottom: 92px; 
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    padding: 0 48px;
  }

  .intro:not(:last-child) {
    margin-bottom: 94px; 
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    padding: 0 24px;
    margin-bottom: 88px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .intro {
    padding: 0 16px;
  }

  .intro:not(:last-child) {
    margin-bottom: 66px; 
  }
}