.lead__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  border: 1px solid red;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead__container {
    margin-bottom: 56px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead__container {
    margin-bottom: 56px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__container{
    margin-bottom: 40px;
  }
}
