.header__lang-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}


@media (min-width: 320px) and (max-width: 767px) {
  .header__lang-links {
    align-items: center;
  }
}